@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'MontserratLight';
    src: url('/static/fonts/Montserrat-Light.ttf') format('truetype');
  }
  @font-face {
    font-family: 'MontserratRegular';
    src: url('/static/fonts/Montserrat-Regular.ttf') format('truetype');
  }
  @font-face {
    font-family: 'MontserratSemiBold';
    src: url('/static/fonts/Montserrat-SemiBold.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Baumans';
    src: url('/static/fonts/Baumans-Regular.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Capuch';
    src: url('/static/fonts/Capuch.otf') format('truetype');
  }
  @font-face {
    font-family: 'NinetiesDisplay';
    src: url('/static/fonts/NinetiesDisplay.otf') format('truetype');
  }
}
